:root{
   --primary-color: #3C2F60;
    --secondary-color: #5955B3;
    --grey-color: #828282;
    --black-color: #000000; 
    --white-color: #FFFFFF;
}
body{
    padding: 50px 0 0 50px;
}
.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-bottom: 100px;
}

.list{
    display: flex;
    list-style: none;
    position: relative;
}

.list-item{
    margin: 0 30px;
    font-family: 'Poppins', sans-serif;
    color: var(--grey-color);
}

.list-item:nth-child(1){
    color: var(--black-color);
}

.button-group{
    text-align: end;
}
.nav-button{
    background-color: var(--secondary-color);
    padding: 20px 30px;
    border-radius: 10px;
    color: var(--white-color);
    border: none;
    font-size: 18px;
}

.banner-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
[alt="illustration"]{
    width: 800px;
    position: fixed;
    right: -0px;
}
.heading-text{
    font-family: Poppins;
    font-size: 60px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.heading-text span{
    color: var(--secondary-color);
}
.description{
    font-family: Poppins;
    font-size: 15px;
    color: var(--grey-color);
    margin-bottom: 30px;
}